{% extends 'default.html' %}

{% block title %}
Объявления
{% endblock title %}
 
{% block content %}
   {% if is_not_subs %}
       <button> <a href="subscribe/">Подписаться на новости</a> </button>
   {% endif %}
   <h3>{{ post|length }} объявлений</h3>
   <hr>
   {% if post %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Содержание</td>
           </tr>
           {% for post in post %}
           <tr>
               <td><a href="/post/{{post.id}}"> {{ post.title }} </a></td>
               <td>{{ post.content|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Нет объявлений</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
